#container_main {
	display: flex;
	justify-content: center;
}

#display_winner {
	width: 20%;
	padding: 20px;
}

#container_gameboard {
	display: grid;
	grid-template-columns: auto auto auto;
}

.game_cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border: 1px solid black;
	font-size: 3em;
}